@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* 11727 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body{
    max-width: 100%;
    overflow-x: hidden;
}

body{
    background-color: #495057;
}

/* Preloader */
#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
     /* background: #2c3e50 ;  */
     background-color: #ffffffb5;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    backdrop-filter: blur(15px) contrast(130%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    z-index:99; /* makes sure it stays on top */
}

#status {
    width:50px;
    height:30px;
    position:fixed;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
   margin:-25px 0 0 -15px; /* is width and height divided by two */
}

.spinner {
  margin: 0px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.sBC{
    position: fixed;
    right: 0;
}

.searchSongs{
    height: 40px;
    border-radius: 30px;
    background-color: #ffffffb5;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    backdrop-filter: blur(15px) contrast(130%);
    cursor: pointer;
}

.searchSongs:focus{
    border: none;
    background-color: #ffffffb5;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    backdrop-filter: blur(15px) contrast(130%);
}

.searchSongs::placeholder{
    color: rgb(92, 92, 92);
}

.container-fluid{
    margin-top: 70px;
    margin-bottom: 60px;
}

.songs h5{
    cursor: pointer;
}

.songs h5:hover{
    color: #e5e5e590;
}

p{
    color: #e5e5e5;
}

.player{
    width: 100vw;
    height: 100px;
    background-color: rgb(23, 23, 25);
    position: fixed;
    bottom: -100px;
    /* bottom: 0; */
    transition: bottom 1s ease;
    display: flex;
    flex-direction: row;
}

.showSongContainer{
    width: 36%;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.showSong{
    width: 100%;
    height: 100%;  
    display: flex;
    align-items: center;
}

.showSong img{
    margin-left: 10px;
}

.showSong h5{
    font-size: 17px;
    margin-bottom: 2px;
}

.showSong p{
    font-size: 12px;
    margin-bottom: 0;
}

.controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon{
    width: 30px;
    height: 30px;
    fill: #fff;
    margin-right: 15px;
    cursor: pointer;
}

.play, .pause{
    width: 50px;
    height: 50px;
}

.repeat{
    fill: #36e2ec;
}

.shuffle{
    width: 22px;
    height: 22px;
}

.conAndcurrent{
    width: 50%;
}

.bar{
    position: relative;
    width: 50%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.318);
    margin: 0px 15px 0px 10px;
    cursor: pointer;
}

.bar2, .vol-bar{
    position: absolute;
    background-color: #36e2ec;
    width: 0%;
    height: 100%;
    top: 0;
    transition: .4s linear;
}

.dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #36e2ec;
    border-radius: 50%;
    left: 0%;
    top: -1px;
    transition: .4s linear;
}

.dot::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    left: -5px;
    top: -5px;
    box-shadow: inset 0px 0px 3px #36e2ec;
}

.current{
    color: #fff;
    font-size: 17px;
}

.vol{
    position: relative;
    width: 100px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.318);
}

.vol input{
    position: absolute;
    width: 100%;
    top: -6px;
    left: -3px;
    cursor: pointer;
    z-index: 99999999;
    transition: 3s linear;
    opacity: 0;
}

.vol-bar{
    width: 100%;
}

#vol-dot{
    left: 100%;
}

 /* Extra small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) {
    .songs h5{
        font-size: 17px;
    }

    .songs p{
        font-size: 14px;
    }

    .player{
        justify-content: space-between;
    }

    .searchSongs{
        height: 33px;
    }

    .conAndcurrent{
        justify-content: space-evenly;
    }

    .showSong h5{
        font-size: 10px;
        margin-bottom: 2px;
    }
    
    .showSong p{
        font-size: 10px;
        margin-bottom: 0;
    }

    .icon{
        width: 28px;
        height: 28px;
        margin-right: 10px;
    }

    .pre, .next{
        width: 20px;
        height: 20px;
    }

    .current{
        font-size: 12px;
    }
};